<! -- login.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/stylesheets/login.css'/>
    <% include templates/google-analytics.ejs %>
</head>

<body>
<!--  BEGIN NAVIGATION BAR -->
<% include templates/navigation.ejs %>
<!-- END OF NAVIGATION BAR -->

	<div class="container-fluid bg">
	  <div class="row">
          <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <div class="col-md-4 col-sm-4 col-xs-12"></div>
          <div class="col-md-4 col-sm-4 col-xs-12">
				<form class="form-container" method="post" action="/user/login">
				  <h1>PARSE Login</h1>
				  <div class="form-group">
                      <label for="Username">Username</label>
                      <input type="text" class="form-control" name="username" placeholder="Username" >
				  </div>
				  <div class="form-group">
                      <label for="Password">Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Password">
				  </div>
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> Remember Me
				    </label>
				  </div>
				  <button type="submit" class="btn btn-success btn-block">Submit</button>
				</form>
	    </div>
	  <div class="col-md-4 col-sm-4 col-xs-12"></div>
	  </div>
	</div>
</body>
</html>
