<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>My Account</title>


    <!-- Stylesheets -->
    <% include templates/stylesheet-refs.ejs %>

    <!-- Google Analytics snippet -->
    <% include templates/google-analytics.ejs %>
</head>

<body>

    <header>
        <!--  BEGIN NAVIGATION BAR -->
        <% include templates/navigation.ejs %>
        <!-- END OF NAVIGATION BAR -->
    </header>

<!-- Main content -->
    <div class="container">

    <% if(locals.isAdmin){ %>
        <div>YOU'RE AN ADMIN!</div>
        <%} else { %>
        <div>Not an admin...</div>
        <% } %>
        <div class="row">

            <!-- The filter side of the dashboard page -->
            <div class="col-md-4" id="dashboard-filter">

                <div class="row">
                    <div class="col-md-12">
                        <h1>Filter by:</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 filter-button" id="pending-filter-button">
                        <h2 class="filter-title">Pending</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 filter-button" id="approved-filter-button">
                        <h2 class="filter-title">Approved</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 filter-button" id="completed-filter-button">
                        <h2 class="filter-title">Completed</h2>
                    </div>
                </div>


            </div>


            <!-- The list of issues to update -->
            <div class="col-md-8" id="dashboard-issues-list">

                    <% include templates/account_pending_issues.ejs %>
                    <% include templates/account_approved_issues.ejs %>
                    <% include templates/account_completed_issues.ejs %>

            </div>


        </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Script references -->
    <% include templates/javascript-refs.ejs %>

    <script type="text/javascript">

        $(function() {

            // Filter code ---------------------------------------
            $("#pending-issues").show();
            $("#completed-issues").hide();
            $("#approved-issues").hide();

            $("#pending-filter-button").click(function() {
                $("#pending-issues").show();
                $("#completed-issues").hide();
                $("#approved-issues").hide();
            });

            $("#approved-filter-button").click(function() {
                $("#pending-issues").hide();
                $("#completed-issues").hide();
                $("#approved-issues").show();
            });

            $("#completed-filter-button").click(function() {
                $("#pending-issues").hide();
                $("#completed-issues").show();
                $("#approved-issues").hide();
            });

            // Submit code --------------------------------------------

            // Submit Listener for the "form"
            // This event will update the database with the new issue status.
            $(".issue-list-item").on("submit", function(e) {
                e.preventDefault(); // Prevent the page from refreshing

                // Ajax request will go here to update the database




                // Update the update-flag
                var updateFlag = $(this).parent().parent().find(".update-flag");
                updateFlag.text("updated");

                // Show the data so that we know it's working
                var alertMsg = "DEBUG MESSAGE\nSubmitted the following info:\n";
                alert(alertMsg + $(this).serialize());

            });

            // Change listener for the dropdown menu
            // It causes the form to submit
            $(".category-dropdown").on("change", function(e) {
                $(this).parent().parent().submit(); // The parent form
            });

        });
    </script>

</body>
</html>