<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>My Account</title>


    <!-- Stylesheets -->
    <% include templates/stylesheet-refs.ejs %>

    <!-- Google Analytics snippet -->
    <% include templates/google-analytics.ejs %>
</head>

<body>

    <header>
        <!--  BEGIN NAVIGATION BAR -->
        <% include templates/navigation.ejs %>
        <!-- END OF NAVIGATION BAR -->
    </header>

<!-- Main content -->
    <div class="container">

        <div class="row">

            <!-- The filter side of the dashboard page -->
            <div class="col-md-4" id="dashboard-filter">

                <div class="row">
                    <div class="col-md-12">
                        <h1>Filter by:</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 filter-button" id="pending-filter-button">
                        <h2 class="filter-title">Pending</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 filter-button" id="approved-filter-button">
                        <h2 class="filter-title">Approved</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 filter-button" id="completed-filter-button">
                        <h2 class="filter-title">Completed</h2>
                    </div>
                </div>


            </div>


            <!-- The list of issues to update -->
            <div class="col-md-8" id="dashboard-issues-list">

                <% include templates/account_pending_issues.ejs %>
                <% include templates/account_approved_issues.ejs %>
                <% include templates/account_completed_issues.ejs %>

            </div>


        </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Script references -->
    <% include templates/javascript-refs.ejs %>

    <script type="text/javascript">

        $("#pending-issues").show();
        $("#completed-issues").hide();
        $("#approved-issues").hide();

        $("#pending-filter-button").click(function() {
            $("#pending-issues").show();
            $("#completed-issues").hide();
            $("#approved-issues").hide();
        });

        $("#approved-filter-button").click(function() {
            $("#pending-issues").hide();
            $("#completed-issues").hide();
            $("#approved-issues").show();
        });

        $("#completed-filter-button").click(function() {
            $("#pending-issues").hide();
            $("#completed-issues").show();
            $("#approved-issues").hide();
        });
    </script>

</body>
</html>