<!-- register.ejs -->
<!doctype html>
<html>
<head>
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<link rel='stylesheet' href='/stylesheets/register.css'/>
    <!-- Google Analytics snippet -->
    <% include templates/google-analytics.ejs %>

</head>


<body>
<!--  BEGIN NAVIGATION BAR -->
<% include templates/navigation.ejs %>
<!-- END OF NAVIGATION BAR -->

	<div class="container-fluid bg">
	  <div class="row">
	  	<div class="col-md-4 col-sm-4 col-xs-12"></div>
	  	<div class="col-md-4 col-sm-4 col-xs-12">
            <% if(locals.errors){

            for(var i = 0;i < errors.length;i++) { %>

            <div class="alert alert-danger"><%=errors[i].msg%> </div>

            <%}}%>
				<form class="form-container" method="post" action="/user/signup">
				  <h1>PARSE Registration</h1>
					<div class="form-group">
						<input type="name" class="form-control" id="exampleName" placeholder="Name" name="Name">
					</div>
					<div class="form-group">
						<input type="username" class="form-control" id="exampleUName" placeholder="Username" name="username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" name="password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="password2">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Remember Me
						</label>
					</div>
					<button type="submit" class="btn btn-success btn-block">Sign Up</button>
				</form>
	    </div>	
	  <div class="col-md-4 col-sm-4 col-xs-12"></div>
	  </div>
	</div>
</body>
</html>