<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title><%= title %></title>

    <!-- Stylesheets -->
    <% include templates/stylesheet-refs.ejs %>
    
    <!-- Google Analytics snippet -->
    <% include templates/google-analytics.ejs %>
</head>

<body>

<header>
    <!--  BEGIN NAVIGATION BAR -->
    <% include templates/navigation.ejs %>
    <!-- END OF NAVIGATION BAR -->
</header>


<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">CSC 648 - Team 4</h1>
            <p class="lead text-muted">
                Environmental Reporting Tool<br>
                This website is the term project for CSC648/848's Team 04.
            </p>
        </div>
        &nbsp;
        <% include templates/search_bar_template.ejs %>
    </section>

    <div class="container">
        <!-- begin container -->


        <% include templates/results.ejs %>


        <!-- End container -->
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <!-- Default Bootstrap Footer
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  -->
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Script references -->
<% include templates/javascript-refs.ejs %>

</body>
</html>