<!--
    VIEW: submit.ejs
    Users can submit an issue from this page.
    Provides the step to sign up for an account if the user is not already logged in.
-->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/logos/logo-black.png">

    <title>Submit</title>

    <!-- Stylesheets -->
    <% include templates/stylesheet-refs.ejs %>

    <style>
        .page-footer {
            margin-top: 600px;
        }
    </style>


    <!-- Google Analytics snippet -->
    <% include templates/google-analytics.ejs %>
</head>

<body>

<header>
    <!--  BEGIN NAVIGATION BAR -->
    <% include templates/navigation.ejs %>
    <!-- END OF NAVIGATION BAR -->
</header>

<main role="main">


    <div class="container-fluid bg">
        <!-- begin container -->
        <div class="col-md-4 col-sm-3 col-xs-12"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">

            <!--Form Validation-->
            <% if(locals.errors){
            for(var i = 0;i < errors.length;i++) { %>
            <div class="alert alert-danger"><%=errors[i].msg%> </div>
            <%}}%>

            <form class="form-container" method="post" enctype="multipart/form-data" action="/post_issue">

                <h1>Submit Issue</h1>

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title" name="title">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea id="submit-issue-desc-field" type="textarea" class="form-control" placeholder="Description" name="description"></textarea>
                </div>

                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Enter Address" name="address" id="search_term">
                    <input type="hidden" id="Latitude" name="Lat" />
                    <input type="hidden" id="Longitude" name="Lng" />
                </div>

                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Zip Code" name="zipcode" id="zip_code">
                </div>

                <div class="form-group">
                    <label>Category</label>
                    <select name="issue_category" class="form-control">
                        <% if(category.length){ %>
                        <% for(var i = 0;i < category.length;i++) { %>
                        <option><%= category[i].name %></option>
                        <% }

                        }else{ %>
                        <option>
                            No categories
                        </option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label>Upload image below</label>
                    <input type="file" class="form-control" name="issue_image">
                </div>

                <% if(!locals.isLogged) { %>
                <div>
                    <div class="form-group">
                        <h3 style="color:white">Please Create an Account</h3>
                        <input type="name" class="form-control" id="exampleName" placeholder="Name" name="Name">
                    </div>
                    <div class="form-group">
                        <input type="username" class="form-control" id="exampleUName" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="password2">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <% } %>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <br/>
        </div>
        <!-- End container -->
    </div>
</main>

<!-- FOOTER code -->
<% include templates/footer.ejs %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Script references -->
<% include templates/javascript-refs.ejs %>

<!-- get latitude and longitude from google places api -->
<script>
    function activatePlacesSearch() {
        var input = document.getElementById('search_term');
        var autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('Latitude').value = place.geometry.location.lat();
            document.getElementById('Longitude').value = place.geometry.location.lng();
            for(var i = 0; i < place.address_components.length; i++) {
                for(var j = 0; j < place.address_components[i].types.length; j++) {
                    if(place.address_components[i].types[j] == "postal_code") {
                        document.getElementById('zip_code').value = place.address_components[i].long_name;
                    }
                }
            }
        });
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABYQ3l89zm1uFz95T1gJQFEbwKAkzMV3Q&libraries=places&callback=activatePlacesSearch"></script>


<!-- Makes the current page appear active in the navbar -->
<script type="text/javascript">

  $(function() {
    $("#submit-navbar-item").addClass("active");
  });

</script>

</body>
</html>
