
<div class="issues-container" id="pending-issues">
	<div class="row">

		<div class="col-md-12">

			<h1 class="issues-title">Pending Issues</h1>

		</div>

	</div>

	<div class="row">

		<div class="col-md-12">

			<p>
				Pending issues be displayed in a loop here.
			</p>

		</div>

	</div>
</div>