<div class="issues-container" id="pending-issues">

	<div class="row">

		<div class="col-md-12">

			<h1 class="issues-title">Pending Issues</h1>

		</div>

	</div>

<!-- --------------- This is a dummy listing for testing purposes. ---------------------
	Eventually this will be generated automatically using EJS tags -->
	<div class="row issue-listing">
		<div class="col-md-3">
			PENDING ISSUE 1 INFO
		</div>

		<div class="col-md-3">
			PENDING ISSUE 1 INFO
		</div>
				
		<div class="col-md-3" >
			<form class="issue-list-item" id="testid">
				<input class="form-control hidden" type="hidden" value="12345" name="field1" />
				<input class="form-control hidden" type="hidden" value="Trash" name="field2" />

				<div class="select">
					<select name="issue_status" class="category-dropdown">
						<option>Pending</option>
						<option>Approved</option>
						<option>Completed</option>
					</select>
				</div>
			</form>
		</div>

		<div class="col-md-3">
			<span class="update-flag"></span>
		</div>

	</div>


<!-- --------------- Another dummy listing. Again, this is just a test ------------- -->
	<div class="row issue-listing">
		<div class="col-md-3">
			PENDING ISSUE 2 INFO
		</div>

		<div class="col-md-3">
			PENDING ISSUE 2 INFO
		</div>
				
		<div class="col-md-3" >
			<form class="issue-list-item" id="testid">
				<input class="form-control hidden" type="hidden" value="56879" name="field1" />
				<input class="form-control hidden" type="hidden" value="Pollution" name="field2" />

				<div class="select">
					<select name="issue_status" class="category-dropdown">
						<option>Pending</option>
						<option>Approved</option>
						<option>Completed</option>
					</select>
				</div>
			</form>
		</div>

		<div class="col-md-3">
			<span class="update-flag"></span>
		</div>

	</div>


	<!-- ---------------------- Third dummy listing.----------------------------- -->
		<div class="row issue-listing">

			<div class="col-md-3">
				PENDING ISSUE 3 INFO
			</div>

			<div class="col-md-3">
				PENDING ISSUE 3 INFO
			</div>
					
			<div class="col-md-3" >
				<form class="issue-list-item" id="testid">
					<input class="form-control hidden" type="hidden" value="47575" name="zipcode" />
					<input class="form-control hidden" type="hidden" value="Raccoons" name="issue" />

					<div class="select">
						<select name="issue_status" class="category-dropdown">
						<option>Pending</option>
						<option>Approved</option>
						<option>Completed</option>
						</select>
					</div>
				</form>
			</div>

			<div class="col-md-3">
				<span class="update-flag"></span>
			</div>

		</div>

</div>