<div class="issues-container" id="approved-issues">
	<div class="row">

		<div class="col-md-12">

			<h1 class="issues-title">Approved Issues</h1>

		</div>

	</div>


	<div class="row">

		<div class="col-md-12">

			<p>
				Approved issues be displayed in a loop here.
			</p>

		</div>

	</div>
</div>