
<div class="issues-container" id="pending-issues">
	<div class="row">

		<div class="col-md-12">

			<h1 class="issues-title">Pending Issues</h1>

		</div>

	</div>

	<div class="row issue-listing">
				
		<form method="POST" enctype="multipart/form-data" action="">

			<div class="col-md-3 form-element bordered">
				Issue description
			</div>

			<div class="col-md-3 form-element bordered">
				Issue location
			</div>

			<div class="col-md-3 form-element bordered">
				<select name="issue_status">
					<option></option>
					<option>Pending</option>
					<option>Approved</option>
					<option>Completed</option>
				</select>
			</div>

			<div class="col-md-2 form-element bordered">
				<button type="submit">save changes</button>
			</div>


		</form>

	</div>
</div>