<!--
	TEMPLATE: project_banner.ejs
	This template has the banner placed at the top of each page, as required by Dr. Petkovic.
	This informs any users that this is a school project.
-->

<div class="project-banner">

	<span>This website is Team-4's project for CSC 648/848-01 Spring 2018 at San Francisco State University.<span>

</div>