<!--
	TEMPLATE: results.ejs
	This is to be used in index.ejs and search_results.ejs to display the results of the query.
-->

<div class="row">
  <!-- Begin search results -->

  <% if(data.length){

  for(var i = 0;i < data.length;i++) { %>

  <% include single_search_result.ejs %>

  <% }

  }else{ %>
  

  No issues


  <% } %>


  <!-- End Search results -->
</div>
