<select name="issue_category">
    <% if(category.length){ %>
    <option value="" selected>Select your category</option>
    <% for(var i = 0;i < category.length;i++) { %>
    <option><%= category[i].name %></option>
    <% }

    }else{ %>
    <option>
        No categories
    </option>
    <% } %>
</select>
