<!--
  TEMPLATE: search_bar_template.ejs
  This is the search bar that appears below the navigation bar in the index.ejs and search_results.ejs pages.
-->


<div class="row">
  <div class="col-md-2"></div>
  <div class="col col-md-8">

    <!-- Form Validation - where the message appears -->
    <div class="row text-center validation-message-box">
      <span class="validation-message text-center" id="search-bar-validation-message"></span>
    </div>


    <!-- Search form -->
    <form class="search-form" action="/search_results" method="get" class="text-center">
      <div class="row">

        <!-- Category dropdown menu -->
        <div class="col-sm-4 col-md-4 search-bar">
          <select class="search-bar-item" id="issue-category-select" name="issue_category">
            <% if(category.length){ %>
              <option value="" selected>Select category</option>
              <% for(var i = 0;i < category.length;i++) { %>
              <option><%= category[i].name %></option>
              <% }

              }else{ %>
              <option>
              No categories
              </option>
              <% } %>
          </select>
        </div>

        <!-- Zipcode input -->
        <div class="col-sm-6 col-md-6 search-bar">
          <input class="search-bar-item zipcode" type="number" name="zip_code" placeholder="Enter Zipcode" class="col-md-8">
        </div>

        <!-- Submit button -->
        <div class="col-sm-2 col-md-2 search-bar">
          <button class="glyphicon glyphicon-search search-bar-item" id="submit-button" type="submit"></button>
        </div>



      </div>
    </form>
  </div>
</div>