<!--
    TEMPLATE: welcome_message.ejs
    This is what appears to the users when they are not logged in on the homepage. It briefly informs the user how to use our website.
-->

    <div class="row jumbo-banner-box text-center">
        <div class="welcome-box-inner-div col-md-12">
            <h2 class="title">Welcome to PARSE!</h2>
            <p class="title">
                Use the search tool below to find any existing environmental issues that need to be resolved.<br>
                If you discovered an unreported issue and would like to report it, <a href="/submit">go to our submit page</a>.
            </p>
        </div>
    </div>
