/* The following is added manually */

h2 {
  color: white;
}

h3 {
  color: white;
}

.issue-image {
  width: 100%;
  border-radius: 25px;
}

.about-bar {
  background-color: #26477c;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.about-bar p {
  color: white;
  overflow: auto;
}

.about-pic {
  display: block;
  max-height: 130px;
  max-width: 100%;
  margin: auto;
  border-radius: 50%;
}

.field-title {
  color: white;
  font-family: sans-serif;
}


/* NAVIGATION BAR CSS */
#navbar-logo {
  position: relative;
  top: -11px;
  left: 25px;
  height: 42px;
}


/* Code for the general layout */
body {
  background-image: url(images/design_images/sanfranfrontpage.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: white;
  text-align: center;
}

.container {
  /*background-color: rgba(255, 255, 255, 0.6);*/
  /*height: 100%;*/
}

/* Results display code */
.thumbnail-image {
  margin: 0 auto;
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 10%;
}

.social-icon {
  height: 20px;
  width: 20px;
}

/*listing title*/
h1{
  font-family: sans-serif;
  color: white;
  text-align: center;
}

/*details pane*/

.issue-info {
  width:100%;
  border-radius: 20px;
  /* height: 450px; */
}

p {
  font-family: sans-serif;
}

.descript {
  font-family: sans-serif;
  color: white;
}

.pane {
  padding: 5%;
  height: 450px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 20px;
}
table {
  background-color: white;
}

/* --------------------------- DASHBOARD PAGE ------------------------------ */
.bordered {
   border-style: solid; /* This is purely for testing purposes so that we know where the divs are. */
}

#dashboard-filter {
  padding: 20px;
}

#dashboard-filter h1 {
  text-align: center;
}

#filter-dropdown {
  border-radius: 0px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

#filter-dropdown option {
  text-align: center;
  font-size: 20px;
}


#dashboard-issues-list {
  min-height: 500px;
  padding: 20px;
}

.issues-title {
  text-align: center;
}

.issue-listing{
  margin-top: 10px;
  padding: 20px;
  opacity: 0.85;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px black;
  -moz-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}

.pending {
  background-color: #fcf3a6;
}

.completed {
  background-color: #b9fcb3;
}

.form-element {
  display: inline-block;
  margin:0;
}

.issues-container {
  min-width: 100%;
}

.hidden {
  display: none;
}


/* Search Result CSS */

.navbar-search-box {
  min-width: 230px;
}

#submit-button {
  top: 0px;
}

.search-bar {
  padding: 0px;
}

.search-bar-item {
  height: 45px;
  width: 100%;
  padding: 10px;
}

.home-search-result {
  background-color: #b9d1f7;
  -webkit-box-shadow: 1px 1px 1px #484f5b;
  -moz-box-shadow: 1px 1px 1px #484f5b;
  box-shadow: 1px 1px 1px #484f5b;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  min-height: 220px;
}

.home-search-result > a > img {
  display: block;
  margin: auto;
}

.home-search-result > h5 {
  text-align: center;
}

.home-search-result > p {
  text-align: center;
}

#search-result-name {
  text-align: center;
}

#search-result-zipcode {

}

.issue-button {
  margin: 0 auto;
  display: block;
  padding: 10px;
}

.jumbo-banner-box{
  background-color: black;
  opacity: 0.7;
  -webkit-box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
  box-shadow: 5px 6px 22px 5px rgba(0,0,0,0.75);

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* FORM VALIDATION */

.validation-message-box {
  height: 30px;
}

.validation-message {
  color: red;
}


/* SUBMIT AN ISSUE PAGE css */
#submit-issue-desc-field {
  min-height: 200px;
}


/* Original CSS with boostrap */

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
#map {
  /* min-height: 575px; */
}

.box-shadow {
  -webkit-box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Registration Form Validation*/

.alert-danger{
  border: 1px black;
  padding: 5px 5px;
  color: #AB0000;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
}

.checkbox{
  color: white;
}

/* Submit Page Styling*/

.form-group{
  color: white;
}

.form-container{
  color: white;
  border: 1px black;
  padding: 30px 40px;
  margin-top: 10vh;
  -webkit-box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
}

.bg{
  width: 100%;
  height: 100vh;
}

/*Index Page Styling*/

.col{
  align-content: center;
  border: 1px black;
  padding: 0px 40px 30px 40px;
  margin-top: 5vh;
  margin-bottom: 10vh;
  -webkit-box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 22px 5px rgba(0,0,0,0.75);
}


/* FOOTER styling */
.page-footer {
  margin-top: 30px;
  opacity: .80;
  background-color: black
}

.page-footer p, h4 {
  color: white;
}

.footer-logo {
  display: block;
  margin: auto;
  height: 60px;
}


/* BANNER styling */
.project-banner {
  width: 100%;
  background-color: yellow;
  opacity: 0.80;
  text-align: center;
}

.project-banner span {
  color: black;
  font-size: 20px;
}
