/* The following is added manually */
/* More Comments */

h2 {
  color: white;
}

h3 {
  color: white;
}

.about-bar {
  background-color: #26477c;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.about-bar p {
  color: white;
  overflow: auto;
}

.about-pic {
  display: block;
  max-height: 130px;
  max-width: 100%;
  margin: auto;
  border-radius: 50%;
}

/* Navbar code */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Results display code */
.thumbnail-image {
  height: 80px;
  width: 80px;
  border-radius: 10%;

}

.navbar {
  margin-bottom: 20px;
}

/* Search Result CSS */

.home-search-result {
  background-color: gray;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}


/* Original CSS with boostrap */

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

